<%= form_for @profile, :html => {:multipart => true} do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row container">
  <div class="row">
    <div class="span_6">
      <%= f.label :first_Name %>
      <%= f.text_field :firstname %>
      <%= f.label :last_Name %>
      <%= f.text_field :lastname %>

      <%= f.label :newsfeed %>
      <%= f.text_field :newsfeed %>
      <%= f.label :twitter %>
      <%= f.text_field :twitter %>
      <%= f.label :facebook %>
      <%= f.text_field :facebook %>
      <%= f.label :quote %>
      <%= f.text_field :quote %>
      <%= f.label :personal_site %>
      <%= f.text_field :personal_site %>
    </div>
    <div class="span_6">
      <%= f.label :bio %>
      <%= f.text_area :bio, {:cols => 15, :rows => 10} %>
       <%= f.file_field :image %><br />
      <%= f.submit "create", class: "btn" %>
    </div>
  </div>
</div>
<% end %>
