<p id="notice"><%= notice %></p>
<div> <!-- main div -->
  <div class='row profile'> <!-- Part 1 -->

    <div class="span4 thumbnail col-sm-6 col-md-4"> <!-- first box -->
      <div class='caption'>
      <%= @profile.full_name %>
      </div>
        <% if @profile.img%>
         <%= image_tag(@profile.img, id: "prof_img")  %>
         <% else %>
         <%= image_tag(@profile.image_url(:thumb).to_s)  %>
     <% end %>

     <%= link_to image_tag("http://icons.iconarchive.com/icons/minisoft.es/so-smooth-social/32/twitter-icon.png"), "https://twitter.com/intent/follow?screen_name=#{@profile.firstname}#{@profile.lastname}" %>
      <%= image_tag("http://icons.iconarchive.com/icons/minisoft.es/so-smooth-social/32/facebook-icon.png") %>
  
  </div> <!-- first box -->
  <div class='span8'> <!-- second box -->
    <p>
      <b>Bio:</b>
      <%= @profile.bio.html_safe %>
    </p>

    </div> <!-- second box -->

  </div> <!-- Part 1 -->

  <div class="row profile"> <!-- part 2 -->  
    <div class='span11'>
    <p>Latest news for <%= @profile.firstname %>: </p>
    <br>
      <% 4.times do |i| %>
       <p class='list-group-item-text'>
          <%= link_to @news['response']['results'][i]['webTitle'], @news['response']['results'][i]['webUrl'] %><br>
        </p>
      <% end %>
    </div>
  </div> <!-- part 2 -->  

  <div class='row profile'><!-- part 3 -->  

    <div class='span4'> <!-- tweets -->
      <h5>Tweets</h5>
      <ul>
        <% @profile.tweets[0..4].each do |tweet| %>
         <li><%= tweet.text %></li>
        <% end %>
      </ul>
    </div> <!-- tweets -->

    <div class='span4'> <!-- youtube --> 
      <% if @profile.video %>
      <%=  render "/profiles/video"  %>
      <% end %>
    </div> <!-- youtube --> 

  </div> <!-- part 3 -->
  
  <div class='row profile'> <!-- part 4 -->   
    <div>
    <%= render "/profiles/trend_data" %>
    </div>
  </div>
</div> <!-- main div -->


 

