<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.firstname %> <%= @profile.lastname %>
</p>


<p>
  <b>Image:</b>
    <% if @profile.img%>
     <%= image_tag(@profile.img, id: "prof_img")  %>
     <% else %>
     <%= image_tag(@profile.image_url(:thumb).to_s)  %>
 <% end %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio.html_safe %>
</p>

<p>
  <b>Newsfeed:</b>
  <br>
    <% 4.times do |i| %>
        <%= link_to @news['response']['results'][i]['webTitle'], @news['response']['results'][i]['webUrl'] %><br>
    <% end %>
</p>

 <% if @profile.video %>
     <%=  render "/profiles/video"  %>
 <% end %>

<p>
  <b>Twitter:</b>
  <%= link_to image_tag("http://icons.iconarchive.com/icons/minisoft.es/so-smooth-social/64/twitter-icon.png"), "https://twitter.com/intent/follow?screen_name=#{@profile.firstname}#{@profile.lastname}" %>
<p>
  <b>Facebook:</b>
   <%= image_tag("http://icons.iconarchive.com/icons/minisoft.es/so-smooth-social/64/facebook-icon.png") %>
</p>

<p>
  <b>Quote:</b>
  <%= @profile.quote %>
</p>

<p>
  <b>Personal site:</b>
  <%= @profile.personal_site %>
</p>


<h5>Tweets</h5>
<ul>
  <% @profile.tweets[0..4].each do |tweet| %>
   <li><%= tweet.text %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_profile_path(@profile) %> |



<%= render "/profiles/trend_data" %>
