<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @profile.firstname %> <%= @profile.lastname %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio.html_safe %>
</p>

<p>
  <b>Newsfeed:</b>
  <br>
    <% 5.times do |i| %>
      <%= link_to @news['response']['results'][i]['webTitle'], @news['response']['results'][i]['webUrl'] %><br>
    <% end %>
</p>

<p>
  <b>Twitter:</b>
  <%= link_to "@" + @profile.firstname + @profile.lastname, "http://twitter.com/#{@profile.firstname}#{@profile.lastname}" %>
</p>

<p>
  <b>Facebook:</b>
  <%= @profile.facebook %>
</p>

<p>
  <b>Quote:</b>
  <%= @profile.quote %>
</p>

<p>
  <b>Personal site:</b>
  <%= @profile.personal_site %>
</p>



<%= link_to 'Edit', edit_profile_path(@profile) %> |



<%= render "/profiles/trend_data" %>
