<div class = "container">
    <h1>Discover Women In <%= @category.name %></h1>



    <div class="container-fluid">
      <div class="row-fluid">
      </div>
  </div>
  <table>
    <tr>
        <% @profiles.each do |profile| %>

        <th class = "span2"> <%= profile.firstname %> <%= profile.lastname %></th>
    </tr>

    <tr>
        <td><%= image_tag(profile.img, id: "prof_img")  %></td>
        <td><%= profile.bio.html_safe %> </td>
    </tr>

    <% end %>
</table>

<br />
</div>
</div>


