<footer id="footer_wrapper">
  <div id="footer_left"> <!-- start footer_left -->
    <h3>Women 2 Watch</h3>

  </div> <!-- end footer_left -->

  <div id="footer_center"> <!-- start footer_center -->
    <h3>FOLLOW US</h3>
    <div class="social_line">
      <%= image_tag "http://icons.iconarchive.com/icons/minisoft.es/so-smooth-social/32/facebook-icon.png", class: 'img_social_icon' %>
      <span class="social_text"><%= link_to 'facebook.com', 'https://www.facebook.com/pages/Geekseekme/404612069650540' %></span>
    </div>

    <div class="social_line">
      <%= image_tag "http://icons.iconarchive.com/icons/minisoft.es/so-smooth-social/32/twitter-icon.png", class: 'img_social_icon' %>
      <span class="social_text"><%= link_to 'twitter.com', 'http://www.twitter.com/geekseek_me' %></span>
    </div>

    <div class="social_line">
      <%= image_tag "http://icons.iconarchive.com/icons/minisoft.es/so-smooth-social/32/google-icon.png" %>
      <span class="social_text"><%= link_to 'googleplus.com', 'http://google.com/geekseek/' %></span>
    </div>

    <div class="social_line">
      <%= image_tag "http://icons.iconarchive.com/icons/minisoft.es/so-smooth-social/32/youtube-icon.png", class: 'img_social_icon' %>
      <span class="social_text"><%= link_to 'youtube.com', 'http://www.youtube.com/user/geekseekme' %></span>
    </div>
  </div> <!-- end footer_center -->

  <div id="footer_right"> <!-- start footer_right -->
    <h3>WOMEN 2 Watch</h3>
    Women 2 Watch tracks the impact of individual women leaders that can be shared with a larger global network and inspire the world around them.

  </div> <!-- end footer_right -->

</footer>
